<div class="container my-5">
  <h2 class="mb-4 text-center">Reservar una Experiencia</h2>
  <div class="card shadow-lg border-0">
    <div class="card-body p-5">
      <h5 class="card-title mb-4">Nueva Reserva</h5>
      <form (ngSubmit)="hacerReserva()" class="reservation-form">
        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="servicio" class="form-label">Servicio</label>
            <select class="form-select" id="servicio" [(ngModel)]="servicio" required>
              <option value="" disabled>Seleccione un servicio</option>
              <option *ngFor="let servicio of serviciosList" [value]="servicio.enum">
                {{ servicio.nombre }}
              </option>
            </select>
          </div>
          <div class="col-md-6 mb-4">
            <label for="fechaReserva" class="form-label">Fecha y Hora</label>
            <input type="datetime-local" class="form-control" id="fechaReserva" [(ngModel)]="fechaReserva" name="fechaReserva" required>
          </div>
          <div class="col-md-12 mb-4">
            <label for="empleadoId" class="form-label">Seleccionar Especialista</label>
            <select class="form-select" id="empleadoId" [(ngModel)]="empleadoId" name="empleadoId" required>
              <option value="" disabled>Seleccione un especialista</option>
              <option *ngFor="let empleado of empleadosDisponibles" [value]="empleado.id">
                {{ empleado.nombre }} {{ empleado.apellido }}
              </option>
            </select>
            <div *ngIf="empleadosDisponibles.length === 0" class="text-danger mt-2">
              No hay especialistas disponibles en este momento.
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center gap-3">
          <button type="submit" class="btn btn-primary" [disabled]="!fechaReserva || !empleadoId || !servicio">
            Crear Reserva
          </button>
          <button *ngIf="reservaCreada" class="btn btn-accent" (click)="generarFactura()">Generar Factura</button>
        </div>
      </form>
    </div>
  </div>
</div>